name: Build and Test
on: [push, pull_request]

jobs:
  testing:
    name: Build and Test
    runs-on: macOS-latest
    steps:
      - name: Clone Repo
        uses: actions/checkout@v1

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Install NDK
        run: echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install 'ndk;20.0.5594570'

      - name: Build Dcrlibwallet
        run: ./dcrlibwallet-ci-build.sh

      - name: Run Android Linter
        run: ./gradlew lintTstnetDebug

      - name: Upload Lint Results
        uses: actions/upload-artifact@v1
        with:
          name: Lint results
          path: app/build/reports/lint-results-tstnetDebug.html

      - name: Run Espresso Tests
        run: ./run-ui-tests.sh

      - name: Assemble Debug APK
        run: ./gradlew assembleTstnetDebug

      - name: Upload Testnet APK
        uses: actions/upload-artifact@v1
        with:
          name: Decred Wallet Testnet (debug apk)
          path: app/build/outputs/apk/tstnet/debug/app-tstnet-debug.apk