name: Docker Build
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      
    - name: Build the Docker image
      run: docker build -t dcrlibwallet .
      
    - name: Run the image
      run: docker run dcrlibwallet
